%table
  %tr
    %th Key
    %th Value
    %th Is Violation
    %th Location
    %th Status

  - @watcher_reports.each do |watcher_report|
    %tr
      %td= watcher_report.key
      %td= watcher_report.value
      %td{ :style => "color: #{watcher_report.is_violation? ? "red" : "blue" }" }= watcher_report.is_violation?.inspect
      %th= watcher_report.commission.number
      %th= watcher_report.status

= paginate @watcher_reports


- content_for :sidebar do
  %table
    %tr
      %th Location Id
      %th Location External Id
      %th Commission Number
      %th Commission Id

    - @user.locations.includes(:commission).each do |location|
      %tr
        %td= location.id
        %td= location.external_id
        %td= location.commission.number
        %td= location.commission.id