- display_name = [@user.first_name, @user.middle_name, @user.last_name].compact.join(" ")

- set_meta_tags :open_graph => {:title => display_name, :type  => :website, :url => "http://webnabludatel.org#{request.fullpath}"}

%h1.b-mainhead.b-mainhead_center
  %strong.b-mainhead__name #{display_name}
  =# render :partial => "partials/share"

- @user.locations.select {|l| l.watcher_reports.size > 0}.each do |location|
  .b-total
    %table.b-total__table
      %tr.b-total__string
        %td.b-total__diag
          %p
            %canvas{:height => "160", :width => "360", :id => "plotBig_#{location.id}"}
          %p
            %strong.b-total__yes
              #{itemize(location.regulations_count, "правило соблюдено", "правила соблюдено", "правил соблюдено")},
            %strong.b-total__no
              #{itemize(location.violations_count, "нарушение замечено", "нарушения замечено", "нарушений замечено")}
        %td.b-personal
          %p.b-personal__status
            Статус
            %br/
            %strong= @user.full_watcher_kind
          %p.b-personal__status
            Комиссия
            %br/
            %strong
              = location.commission.full_title
  .b-separator
    %table.b-separator__table
      %tr.b-separator__string
        %td.b-separator__side  
        %td.b-separator__name Нарушения
        %td.b-separator__side  

  - if location.violations.present?
    - location.violations.select {|r| r.smart_title.present? || r.photos.present?}.each do |report|
      %article.b-fraud
        .b-fraud__time= l(report.timestamp, format: "%H<sup>%M</sup>").html_safe
        %h3.b-fraud__title #{report.smart_title}
        %figure.b-fraud__photo
          - report.photos.each do |photo|
            - if photo.image && photo.image.url
              = link_to photo.image.url, target: :blank do
                = image_tag photo.image.url, width: 200

  - else
    %h3.b-fraud__title
      Нарушений нет

  :javascript
    window.addEventListener('load', function () {
      draw("#{location.regulations_count}", "#{location.violations_count}", "plotBig_#{location.id}", 20);
    }, false);
