- display_name = [@user.first_name, @user.middle_name, @user.last_name].compact.join(" ")

- set_meta_tags :open_graph => {:title => display_name, :type  => :website, :url => "http://webnabludatel.org#{request.fullpath}"}

%h1.b-mainhead.b-mainhead_center
  %strong.b-mainhead__name #{display_name}
  =# render :partial => "partials/share"

- @user.commissions.each do |commission|
  .b-total
    %table.b-total__table
      %tr.b-total__string
        %td.b-total__diag
          %p
            %canvas{:height => "160", :width => "360", :id => "plotBig_#{commission.id}"}
          %p
            - total_reports = commission.watcher_reports
            - reports_with_violations = commission.watcher_reports.where(:is_violation => true)

            %strong.b-total__yes #{total_reports.size - reports_with_violations.size}
            правил соблюдено,
            %strong.b-total__no #{reports_with_violations.size}
            нарушения замечено
        %td.b-personal
          -#%p.b-personal__status
            Статус
            %br/
            %strong Наблюдатель УИК
          %p.b-personal__status
            География
            %br/
            %strong
              = commission.region.name
  .b-separator
    %table.b-separator__table
      %tr.b-separator__string
        %td.b-separator__side  
        %td.b-separator__name Нарушения
        %td.b-separator__side  

  - if reports_with_violations
    - reports_with_violations.each do |report|
      %article.b-fraud
        .b-fraud__time
          = report.timestamp.hour
          %sup
            = report.timestamp.min
        %h3.b-fraud__title #{report.check_list_item.violation_text}
        - if report.has_photos
          - report.photos.each do |photo|
            %figure.b-fraud__photo
              %img{:src => "#{photo.image.url}"}


  - else
    %h3.b-fraud__title
      Нарушений нет

  :javascript
    window.addEventListener('load', function () {
      draw("#{total_reports.size - reports_with_violations.size}", "#{reports_with_violations.size}", "plotBig_#{commission.id}", 20);
    }, false);
