%h1 Участки

- @user_locations.each do |user_location|
  %div{:id => dom_id(user_location)}
    %p= "##{user_location.id}"
    %p Пользователь:
    %p= "#{user_location.user.email} (#{user_location.user.name} #{user_location.user.last_name})"
    %p Коммисия:
    %p #{user_location.commission.number} (регион: #{user_location.commission.region.name})
    %p Комментарий:
    %p= user_location.comment
    %p Статус:
    %p{:id => dom_id(user_location, :status)}= user_location.status
    %p
      - media_items = []
      - user_location.photos(true).order("id desc").each do |photo|
        - if !media_items.include?(photo.media_item_id) && photo.image.url
          - media_items << photo.media_item_id
          = image_tag photo.image.url, :width => 600
    - if user_location.status == 'pending'
      %div{:id => dom_id(user_location, :controls)}
        = link_to 'Подтвердить', approve_admin_user_location_path(user_location), :remote => true, :method => :post
        = link_to 'Отклонить', reject_admin_user_location_path(user_location), :remote => true, :method => :post
        = link_to 'Есть проблема', problem_admin_user_location_path(user_location), :remote => true, :method => :post

= paginate @user_locations
