%h1 SOS сообщения
- @sos_messages.each do |sos_message|
  %p= "##{sos_message.user_id}"
  %p Cообщение:
  %p= sos_message.body
  - if sos_message.location
    %p Номер УИК:
    %p= sos_message.location.commission.number
    %p Адрес УИК:
    %p= sos_message.location.commission.try(:address)
  %p Пользователь:
  %p= "#{sos_message.user.email} (#{sos_message.user.name} #{sos_message.user.last_name})"
  %p Статус:
  %p
    = "#{sos_message.status}"
    = "(изменен #{sos_message.last_changed_user.email})"
  %p
    = link_to 'изменить статус', edit_admin_sos_message_path(sos_message)


= paginate @sos_messages