%h1.b-mainhead.b-mainhead_center
  %strong.b-mainhead__name Отчеты наблюдателей (Предварительные результаты)
.b-total
  .b-total__digit
    %strong.b-total__big= @active_users_count
    наблюдателей воспользовались приложением
  .b-total__diag.clearfix
    %p
      %canvas#plotBig{:height => "240", :width => "540"}
    %p
      %strong.b-total__yes= @regulations_count
      правил соблюдено,
      %strong.b-total__no= @violations_count
      нарушений замечено
  / <div class="b-total__verb"><a href="#" class="b-total__verb-link">Вставить в блог</a></div>
.b-separator
  %table.b-separator__table
    %tr.b-separator__string
      %td.b-separator__side  
      %td.b-separator__name Нарушения
      %td.b-separator__side  
-#.b-fotorama{:style => "width: 700px;"}
  #fotorama-main_alexeilebedev.ftrm
    - @violation_photos.each do |p|
      = link_to image_tag(p.image.url), p.image.url
.b-listab
  .b-listab__title Распространенные нарушения
  %table.b-listab__table
    - @popular_violations.each do |ci|
      %tr.b-listab__string
        %td.b-listab__item.b-listab__item_num= ci.watcher_reports.violations.count
        %td.b-listab__item.b-listab__item_txt= link_to ci.violation_text, '#'
.b-listab
  .b-listab__title Участки-нарушители
  %table.b-listab__table
    - @bad_commissions.each do |c|
      %tr.b-listab__string
        %td.b-listab__item.b-listab__item_num= c.watcher_reports.violations.size
        %td.b-listab__item.b-listab__item_txt= link_to c.full_title, '#'
-#.b-separator
  %table.b-separator__table
    %tr.b-separator__string
      %td.b-separator__side  
      %td.b-separator__name География
      %td.b-separator__side  
-#.b-geography
  %ul.b-towns.clearfix
    %li.b-towns__town
      %p.b-towns__name Москва
      %p
        %canvas#plotMoscow{:height => "110", :width => "226"}
      %p.b-towns__total
        67278
        %br/
        %span.b-towns__watchers наблюдателей
    %li.b-towns__town
      %p.b-towns__name Санкт-Петербург
      %p
        %canvas#plotSpb{:height => "110", :width => "226"}
      %p.b-towns__total 13674
    %li.b-towns__town
      %p.b-towns__name Екатеринбург
      %p
        %canvas#plotEkb{:height => "110", :width => "226"}
      %p.b-towns__total 2326
    %li.b-towns__town
      %p.b-towns__name Уфа
      %p
        %canvas#plotUfa{:height => "110", :width => "226"}
      %p.b-towns__total 2326
    %li.b-towns__town
      %p.b-towns__name Челябинск
      %p
        %canvas#plotChel{:height => "110", :width => "226"}
      %p.b-towns__total 2323
    %li.b-towns__town
      %p.b-towns__name Казань
      %p
        %canvas#plotKaz{:height => "110", :width => "226"}
      %p 2324
    %li.b-towns__town
      %p.b-towns__name Чечня
      %p
        %canvas#plotChe{:height => "110", :width => "226"}
      %p.b-towns__total 23
    %li.b-towns__town
      %p.b-towns__name Другие города
      %p
        %canvas#plotOthers{:height => "110", :width => "226"}
      %p.b-towns__total 2326
-#.b-separator
  %table.b-separator__table
    %tr.b-separator__string
      %td.b-separator__side.b-separator__side_single  

:javascript
  $(function() {
    $('#fotorama-main_alexeilebedev').fotorama({width: 700, height: 467});
  });
  window.addEventListener('load', function () {
    draw(#{@regulations_count}, #{@violations_count}, 'plotBig', 30);
    /*draw(5, 12, 'plotMoscow');
    draw(12, 8, 'plotSpb');
    draw(5, 12, 'plotEkb');
    draw(5, 3, 'plotUfa');
    draw(1, 8, 'plotChel');
    draw(2, 10, 'plotKaz');
    draw(3, 0, 'plotChe');
    draw(1, 6, 'plotOthers');*/
  }, false);