%h1.b-mainhead.b-mainhead_center
  %strong.b-mainhead__name География

.b-geography
  %ul.b-towns.clearfix
    - @regional_reports.each do |r|
      = render 'regional_report', regional_report: r

.b-separator
  %table.b-separator__table
    %tr.b-separator__string
      %td.b-separator__side.b-separator__side_single  

:javascript
  window.addEventListener('load', function () {
    #{ @regional_reports.map {|r| "draw(#{r.regulations.to_i}, #{r.violations.to_i}, 'plotRegion#{r.region.id}')" }.join("\n") }
  }, false);
