#topBar.clearfix
  #links
    =# link_to 'somelink', 'http://somesite/'

#headingBar.clearfix
  .logo
    %a.hiddenText{:href => "#{Settings.base_url}"} ВебНаблюдатель

  %nav
    = render_navigation( :context => :main )

  #authPanel
    - if User.current
      %ul
        %li
          .button
            = link_to User.current.to_s, edit_user_registration_path
        %li
          .headerText
            or
        %li
          .button
            = link_to t('devise.links.sign_out'), destroy_user_session_path, 'data-skip-pjax' => true
    - else
      %ul
        %li
          .button
            = link_to t('devise.links.sign_in'), new_user_session_path
        %li
          .headerText
            or
        %li
          .button
            = link_to t('devise.links.sign_up'), new_user_registration_path
