!!!
%html.no-js{"xmlns:fb" => "https://www.facebook.com/2008/fbml", "xmlns:og" => "http://ogp.me/ns#"}
  = render :partial => 'layouts/head'

  %body{ :lang => 'en', :class => "#{controller.controller_name}" }
    #container
      %header
        = render :partial => 'layouts/header'

      #main{ :role => 'main' }
        %section#mainContent
          %div{:data => {"pjax-container" => true}}
            = flash_messages
            = yield
      %footer
        = render :partial => 'layouts/footer'
