!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/[if IE 9] <html class="no-js ie9" lang="en">
/[if IEMobile 7 ] <html class="no-js iem7" lang="en">
/ [if (gt IE 8)|!(gt IEMobile 7)|!(IEMobile)]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/

    = display_meta_tags :site => 'Веб-наблюдатель', :reverse => true

    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:property => "fb:app_id", :content => "308722072498316"}

    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "/apple-touch-icon-ipad.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/apple-touch-icon-iphone4.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    /[if lte IE 9]
      <script type="text/javascript">
      document.createElement('header');
      document.createElement('nav');
      document.createElement('section');
      document.createElement('article');
      document.createElement('aside');
      document.createElement('footer');
      </script>

    = stylesheet_link_tag "application"
    = yield :stylesheets

    = javascript_include_tag "application"
    = yield :javascripts

    = csrf_meta_tag

  %body
    .b-ligth
    .i-wrapper
      %header.i-header
        %nav.b-nav
          %ul.b-nav__list
            %li.b-nav__item
              = active_link_to "Приложение", root_path, :class_active => 'b-nav__link b-nav__link_current', :class_inactive => 'b-nav__link'
            %li.b-nav__item
              = active_link_to "Отчеты", '/reports', :class_active => 'b-nav__link b-nav__link_current', :class_inactive => 'b-nav__link'
            -# %li.b-nav__item
              = active_link_to "География", '/regions', :class_active => 'b-nav__link b-nav__link_current', :class_inactive => 'b-nav__link'
            %li.b-nav__item
              = active_link_to "Итоговые протоколы", '/reports/protocols', :class_active => 'b-nav__link b-nav__link_current', :class_inactive => 'b-nav__link'
            %li.b-nav__item
              = active_link_to "О проекте", '/about', :class_active => 'b-nav__link b-nav__link_current', :class_inactive => 'b-nav__link'
            %li.b-nav__item
              = active_link_to "Пресса о нас", '/press', :class_active => 'b-nav__link b-nav__link_current', :class_inactive => 'b-nav__link'


      %section{:class => content_for?(:sidebar) ? "i-content" : "", :role => "main", :data => {"pjax-container" => true}}
        = yield
      - if content_for? :sidebar
        %aside.i-sidebar
          = yield :sidebar

      %footer.i-footer
        .b-copyright
          Проект «Наблюдатель», 2012. Пишите:
          %a{:href => "mailto:info@webnabludatel.org"} info@webnabludatel.org


    / /Yandex.Metrika counter
    :javascript
      var yaParams = {/*Здесь параметры визита*/};

    %div{:style => "display:none;"}
      :javascript
        (function(w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter12682987 = new Ya.Metrika({id:12682987, enableAll: true, trackHash:true, webvisor:true,params:window.yaParams||{ }}); } catch(e) { } }); })(window, "yandex_metrika_callbacks");
      %script{:defer => "defer", :src => "//mc.yandex.ru/metrika/watch.js", :type => "text/javascript"}
    %noscript
      %div
        %img{:alt => "", :src => "//mc.yandex.ru/watch/12682987", :style => "position:absolute; left:-9999px;"}/
    / /Yandex.Metrika counter

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29285829-1']);
      _gaq.push(['_setDomainName', 'webnabludatel.org']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    :javascript
      var reformalOptions = {
          project_id: 55587,
          project_host: "webnabludatel.reformal.ru",
          tab_orientation: "left",
          tab_indent: 300,
          tab_bg_color: "#F05A00",
          tab_border_color: "#FFFFFF",
          tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0L%252FRgNC10LTQu9C%252B0LbQtdC90LjRjw==/FFFFFF/4bfb34d91c8d7fb481972ca3c84aec38/left/0/tab.png",
          tab_border_width: 0
      };

      (function() {
          var script = document.createElement('script');
          script.type = 'text/javascript'; script.async = true;
          script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v2/reformal.js';
          document.getElementsByTagName('head')[0].appendChild(script);
      })();
