%h2= t('devise.links.sign_up')

= simple_form_for(@user, :url => user_registration_path) do |f|
  = devise_error_messages!
  = f.input :email
  - if @user.password_required?
    = f.input :password
    = f.input :password_confirmation
  = f.submit t('devise.links.sign_up')

= render :partial => "devise/shared/links"
